* {
    padding: 0;
    margin: 0;
    background-color: rgb(129, 212, 3);
}
.f1 {
    height: 250px;
    width: 250px;
    margin-top:6rem;
    margin-left: 32rem;
}

.f2 {
    height: 250px;
    width: 250px;
    margin-top:6rem;
    margin-left: 32rem;
}

.f3 {
    height: 250px;
    width: 250px;
    margin-top:6rem;
    margin-left: 32rem;
}
.text0 {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin-left: 500px;
    margin-top: 2rem;
}

.text1 {
        width:500px ;
        margin-left: 25rem;
        font-weight: 300;
        margin-top: 50px;
        color: wheat;
    }
.text3 {
        font-size: 2rem;
        font-weight: 500;
        color: white;
        margin-left: 500px;
        margin-top: 2rem;
    }
     .text4 {
            width:500px ;
            margin-left: 25rem;
            font-weight: 300;
            margin-top: 50px;
            color: wheat;
        }

.text5 {
            font-size: 2rem;
            font-weight: 500;
            color: white;
            margin-left: 500px;
            margin-top: 2rem;
        }
        
.text6 {
                width:500px ;
                margin-left: 25rem;
                font-weight: 300;
                margin-top: 50px;
                color: wheat;
            }